.footer{
    margin-top: 150px;
    background-color: #141414;
}
.footer-container{
    color: #ddd;
    padding: 30px;
}
.copy-right{
    background-color:#AA9166;
    padding:20px 0;
}
@media only screen and(max-width:576px) {
    .footer-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
