.services-section{
    background-color: #FAF8F5;
    margin-top: 50px;
    margin-bottom: 50px;
}
.line::before{
    content:'';
    position:absolute;
    display:block;
    height:2px;
    margin-top: 50px;
    width: 65px;
    background:#AA9166;
    left:50%;
    z-index:1;
    transform:translateX(-50%);
}