.services-btn{
    background-color: #AA9166 !important;
    color: #ffffff !important;
}
.services-name{
    background-color: #AA9166 !important;
    padding: 30px;
    text-align: center;
    color: #ffffff;
}
